{{> navbar}}
<div class="wrapper-md d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h1>404</h1>
        <p>
            Something went wrong and our expert team are working on it.<br>You can go home for now, while we fix the
            issue.
        </p>
        <a href="/" class="btn btn-full">
            Go back home
        </a>
    </div>
</div>
{{> footer}}
