{{> navbar}}
<div class="wrapper-md d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h1>401</h1>
        <p>
            Sorry, you are not authorized to view this section.<br>Try to login, maybe you will get access.
        </p>
        <a href="/" class="btn btn-full">
            Go back home
        </a>
    </div>
</div>
{{> footer}}
