{{> navbar}}
<header class="bg-white">
  <div class="banner">
    <div class="container">
      <div class="hero-textbox">
        <h1>One identity for all websites</h1>
        <p>
          Internet passport provides Authentication As a Service (AAAS). Which gives you the ability to
          have one account and use it to login/signup into any website that has our service installed.
        </p>
        {{#if isLoggedIn}}
        <a href="{{#if isDeveloper}}/developer/dashboard{{else}}/dashboard{{/if}}" class="btn btn-light btn-lg">
          Dashboard
        </a>
        {{else}}
        <a href="/login" class="btn btn-light btn-lg">
          Create account
        </a>
        {{/if}}
      </div>
    </div>
  </div>
</header>

<div class="features-section" id="features">
  <div class="feature-one-identity">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <img src="imgs/one-identity.svg" alt="One Identity">
        </div>
        <div class="col-12 col-md-6">
          <h3>
            <i class="fa fa-id-card me-1"></i>
            One Identity
          </h3>
          <p>
            Create just one account with us and your can use same account to either signup or login to any
            website that have our app installed in their website. This eradicates the need for multiple accounts.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="feature-security">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <h3>
            <i class="fa fa-shield me-1"></i>
            Secured
          </h3>
          <p>
            We ensure your account is secured as you surf through the internet. This is achieved by adding
            another in our authentication mechanism.
          </p>
        </div>
        <div class="col-12 col-md-6">
          <img src="imgs/secured.svg" alt="Secured feature">
        </div>
      </div>
    </div>
  </div>

  <div class="feature-support">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <img src="imgs/support.svg" alt="Support feature">
        </div>
        <div class="col-12 col-md-6">
          <h3>
            <i class="fa fa-clock me-1"></i>
            24/7
          </h3>
          <p>
            In order to serve you better, we provide a 24/7 support to our users.
            And we make sure your authentication experience is seamless.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
