<div class="wrapper d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto">
                <div class="card rounded-card login-card">
                    <div class="card-body">
                        <div class="text-center mb-4">
                            <!-- Logo -->
                            <a href="/" class="link">
                                <div class="d-flex justify-content-center align-tems-center mb-3 logo-pane">
                                    <img src="/imgs/logo.png" alt="Logo" class="logo mr-1" />
                                    IP
                                </div>
                            </a>
                            <!-- Logo -->
                            <p>Reset your account password</p>
                        </div>

                        {{> flashMessage}}
                        <form method="post">
                            <div class="mb-4">
                                <input type="email" class="form-control" placeholder="Email" name="email">
                            </div>

                            <div class="d-flex justify-content-between align-items-center flex-wrap">
                                <a href="/login">Login</a>
                                <button type="submit" class="btn btn-full">
                                    Next
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
