<div class="wrapper d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto">
                <div class="card rounded-card login-card">
                    <div class="card-body">
                        <div class="text-center mb-2">
                            <!-- Logo -->
                            <a href="/" class="link">
                                <div class="d-flex justify-content-center align-tems-center mb-3 logo-pane">
                                    <img src="/imgs/logo.png" alt="Logo" class="logo mr-1" />
                                    IP
                                </div>
                            </a>
                            <!-- Logo -->
                        </div>

                        {{#if isValidSession}}
                        <div class="text-center mb-3">
                            <p class="m-1">Reset your account password</p>
                            <span class="badge badge-pill badge-dark">
                                {{user.email}}
                            </span>
                        </div>
                        {{> flashMessage}}
                        <form method="post">
                            <input type="hidden" name="state" value="{{state}}">
                            <input type="hidden" name="client" value="{{client}}">
                            <div class="mb-4">
                                <input type="password" class="form-control" placeholder="New Password"
                                    name="newPassword">
                            </div>

                            <div class="mb-4">
                                <input type="password" class="form-control" placeholder="Confirm Password"
                                    name="confirmPassword">
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-full">
                                    Reset Password
                                </button>
                            </div>
                        </form>
                        {{else}}
                        <div class="text-center">
                            <p class="small text-muted">
                                This link might be broken or your session has expired. Click on Go Back, to goto home
                                page.
                            </p>

                            <a href="/" class="btn btn-full">
                                Go back
                            </a>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
