<div class="wrapper d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <div class="card rounded-card signup-card">
                    <div class="card-body">
                        <div class="signup-form-wrapper">
                            <!-- Logo -->
                            <a href="/" class="link">
                                <div class="d-flex align-tems-center mb-3 logo-pane">
                                    <img src="/imgs/logo.png" alt="Logo" class="logo mr-1" />
                                    IP
                                </div>
                            </a>
                            <!-- Logo -->

                            <!-- Title -->
                            <div class="mb-4">
                                <h4>Create your Internet Passport</h4>
                            </div>
                            <!-- Title -->

                            <form action="" method="post" class="mb-0">
                                <div class="row mb-4">
                                    <div class="col-12 col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control" name="firstname"
                                            placeholder="First name" id="firstname">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <input type="text" class="form-control" name="lastname" placeholder="Last name"
                                            id="lastname">
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <input type="email" class="form-control" placeholder="example@email.com" id="email">
                                </div>

                                <div class="row mb-5">
                                    <div class="col-12 col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control" name="password"
                                            placeholder="Password" id="password">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <input type="password" class="form-control" name="confirmPassword"
                                            placeholder="Confirm" id="confirmPassword">
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center flex-wrap">
                                    <a href="/login" class="mb-2">
                                        Sign in instead
                                    </a>
                                    <button type="submit" class="btn btn-full mb-2">
                                        Create account
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
